[main]
modes = 'anarchy democracy raffle'
selected = 'anarchy'
delay = 0.0
hold_click = True
click_duration = 0.02

[server]
addr = '0.0.0.0'
port = 8585

[origin]
addr = '127.0.0.1'
port = 8589

[democracy]
time = 5.
auto = False
interval = 20.
duration = 5.

[raffle]
time = 1.

[log]
file = 'Log.txt'
open_mode = 'a'


